// Header
.site-header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $green_bright;
    margin-bottom: 80px;
    position: relative;

    .site-branding {
        padding-left: 20px;
        
        .site-title  {
            font-weight: 700;

            a {
                font-size: 20px;
                color: $purple_dk;
                text-shadow: 0 0 0 $green_pastel;
                border: none !important;
                transition: all 100ms linear;

                &:hover {
                    color: $pink_bright;
                    text-shadow: -2px 1px 1px $purple_dk;
                    border: none !important;
                }
            }
        }
        
    }//.site-branding

    // Nav Wrapper
    .main-navigation {
        background-color: $green_pastel;
        border-top: 2px solid $purple_dk;
        padding: 10px 25px;
        display: none;
        position: absolute;
        z-index: 99;
        right: 0;
        top: 60px;

        @media (min-width: $breakpoint-phone) {
            background-color: transparent;
            border-top: none;
            padding: 0;
            display: block;
            position: relative;
            z-index: 1;
            right: auto;
            top: auto;
        }

        li {
            margin: 6px 12px 24px 8px;
            

            @media (min-width: $breakpoint-phone) {
                margin: 0;
                margin-top: 4px;
                margin-right: 30px;
            }
            
            &:last-child {
                margin-bottom: 4px;

                @media (min-width: $breakpoint-phone) {
                    margin-bottom: 0;
                }
            }

            a {
                font-size: 20px;
            }
            
        }// li
        
        ul.menu {
            display: flex;
            align-items: center;
            flex-direction: column;

            @media (min-width: $breakpoint-phone) {
                flex-direction: row;
            }
        }
    }//.main-navigation

    p {
        margin-bottom: 0;
    }//p
    a {
        color: $purple_dk;
        line-height: 20px;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: $green_pastel;
        transition: border-bottom-color 200ms linear;
        
        &:hover {
            border-bottom-color: $purple_dk;
        }
    }//a

    // Hamburger
        .hamburger {
            background-color: transparent;
            color: $purple_dk !important;
            transition: color 200ms linear;

            &:hover {
                color: $purple_lt;
            }
            &:focus {
                border: none !important;
                outline: none !important;
                color: $purple_lt !important;
            }

            @media (min-width: $breakpoint-phone) {
                display: none;
            }
        }//.hamburger
}//.site-header


// Body 
.site-main {
    @extend .container;

    .entry-header {
        background-color: $pink_pastel;
        position: relative;
        left: -15%;

        // Page Title
        h1 {
            color: $purple_dk;
            font-weight: 900;
            padding-left: 10%;
        }
    }

}//.site-main


// Footer
.site-footer {
    padding: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $pink_pastel;

    .site-info {
        margin-left: 10px;

        a {
            color: $purple_dk;
            font-size: 14px;
            font-weight: bolder;
            transition: all 200ms linear;

            &:hover {
                color: $purple_lt;
            }
        }//a
    }//.site-info

    .footer__social-links {
        display: flex;
        justify-content: flex-end;

        li {
            margin: 4px 10px 0 10px;

            a {
                color: $purple_dk;
                transition: all 200ms linear;


                i.fab {
                    color: $purple_dk;
                    font-size: 24px;
                }//i.fab

                &:hover {

                    i.fab { 
                        color: $purple_lt;
                    }
                }
                
            }//a

            
        }//li
    }//.footer_-social-links
    
}//..site-footer