html, body {
    background-color: $bg;
    color: $text1;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 500ms ease-in-out;

    &:hover {
        color: $pink_pastel;
    }
}