/* Using plain CSS */
// @media (min-width: 768px) {
//  
// }

/* Using SCSS variables to store breakpoints */
// $breakpoint-tablet: 768px;
// @media (min-width: $breakpoint-tablet) {
//
// }

// ===================================================
// My Media Queries
// ===================================================

$breakpoint-phone: 567px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-desktop: 1200px;

