// Color Palette
$purple_dk: rgb(50, 20, 105);
$purple_lt: rgb(78, 38, 153);
$pink_pastel: rgb(231, 110, 255);
$green_bright: rgb(0, 255, 128);
$green_pastel: rgb(95, 255, 175);
$teal: rgb(0, 255, 242);


// Layout
$bg: $purple_dk;
$text: $green_bright;
$text1: $green_bright;
$text2: $green_pastel;
$text3: $pink_pastel;


@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;0,900;1,400&display=swap');

// Fonts
$font-family: 'Alegreya', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;