html, body {
    background-color: $bg;
    background-image: url(img/pink-dust.png);
    background-repeat: repeat;
        background-blend-mode: color-dodge;
    color: #fff;
    font-family: $base;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 500ms ease-in-out;

    &:hover {
        color: $pink_pastel;
    }
}//a