// Color Palette
$purple_darker: rgb(34, 11, 77);
$purple_dk: rgb(31, 12, 66);
$purple_lt: rgb(78, 38, 153);
$pink_bright: rgb(249, 71, 255);
$pink_pastel: rgb(231, 110, 255);
$green_bright: rgb(0, 255, 128);
$green_pastel: rgb(95, 255, 175);
$teal: rgb(0, 255, 242);


// Layout
$bg: $purple_dk;
$text: $green_bright;
$text1: $green_bright;
$text2: $green_pastel;
$text3: $pink_pastel;

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@400;500;600;700&family=Texturina:wght@400;700&display=swap');

// Fonts
$base: 'Texturina', serif;
$heading: 'Caveat Brush', cursive;
$subheading: 'Caveat', cursive;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;