// Header
.site-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $green_bright;
    border-bottom: 2px solid $purple_dk;
    position: relative;
    margin-bottom: 40px;

    @media (min-width: $breakpoint-phone) {
        margin-bottom: 80px;
    }

    .site-branding {
        padding-left: 20px;
        
        .site-title  {
            font-family: $subheading;
            font-size: 30px;
            line-height: 30px;

            a {
                color: $purple_lt;
                text-shadow: 0 0 0 $purple_dk;
                border: none !important;
                transition: all 100ms linear;

                &:hover {
                    color: $pink_bright;
                    text-shadow: -1px 1px 1px $purple_dk;
                    border: none !important;
                }
            }//a
        }//.site-title
        
    }//.site-branding

    // Nav Wrapper
    .main-navigation {
        background-color: $green_pastel;
        border-top: 2px solid $purple_dk;
        padding: 10px 25px;
        display: none;
        position: absolute;
        z-index: 99;
        right: 0;
        top: 50px;

        @media (min-width: $breakpoint-phone) {
            background-color: transparent;
            border-top: none;
            padding: 0;
            display: block;
            position: relative;
            z-index: 1;
            right: auto;
            top: auto;
        }

        li {
            margin: 6px 12px 24px 8px;
            

            @media (min-width: $breakpoint-phone) {
                margin: 6px 60px 0px 20px;
            }
            
            &:last-child {
                margin-bottom: 4px;

                @media (min-width: $breakpoint-phone) {
                    margin-bottom: 0;
                }
            }

            a {
                color: $purple_dk;
                font-size: 20px;
                font-weight: 900;
                line-height: 20px;
                border-bottom-style: solid;
                border-bottom-width: 3px;
                border-bottom-color: $green_pastel;
                transition: border-bottom-color 200ms linear;
                
                &:hover {
                    border-bottom-color: $purple_dk;
                }
            }//a
            
        }// li
        
        ul.menu {
            display: flex;
            align-items: center;
            flex-direction: column;

            @media (min-width: $breakpoint-phone) {
                flex-direction: row;
            }
        }
    }//.main-navigation


    // Hamburger
    .hamburger {
        background-color: transparent;
        color: $purple_dk !important;
        transition: color 200ms linear;

        &:hover {
            color: $purple_lt;
        }
        &:focus {
            border: none !important;
            outline: none !important;
            color: $purple_lt !important;
        }

        @media (min-width: $breakpoint-phone) {
            display: none;
        }
    }//.hamburger
}//.site-header


// Body 
.site-main {
    @extend .container;

    .entry-header {
        margin-bottom: 15px;

        h1 {
            color: $pink_bright;
            font-size: 36px;
            font-weight: 900;
            line-height: 1;
            letter-spacing: 1px;
            padding-bottom: 0px;
            border-bottom: 2px solid $pink_bright;
            margin-bottom: 10px;

            @media (min-width: $breakpoint-phone) {
                font-size: 48px;
            }
        }
    }//.entry-header

    .entry-content {
        margin-bottom: 40px; 

        p {
            line-height: 1.5;
        }
    }//.entry-content

    // Headings
    h2 {
        color: $green_bright;
        font-size: 24px;
        font-weight: 900;
        letter-spacing: 1px;
        border-bottom: 2px solid $green_bright;
        margin-bottom: 20px;

        @media (min-width: $breakpoint_phone) {
            font-size: 32px;
        }
    }
}//.site-main


// Footer
.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-bottom: 5px;
    margin-top: 80px;
    border-top: 1px solid $pink_pastel;
    background-color: rgba(255, 255, 255, 0.05);

    .site-info {
        margin-left: 10px;

        a {
            color: #fff;
            font-size: 18px;
            font-family: $subheading;
            transition: all 200ms linear;

            &:hover {
                color: $purple_lt;
            }
        }//a
    }//.site-info

    .footer__social-links {
        display: flex;
        justify-content: flex-end;

        li {
            margin: 4px 10px 0 10px;

            a {
                i.fab {
                    color: $green_pastel;
                    font-size: 24px;
                }//i.fab

                &:hover {

                    i.fab { 
                        color: $pink_bright;
                    }
                }
                
            }//a

            
        }//li
    }//.footer_-social-links
    
}//..site-footer