// Projects page 
.page-id-19 {
    .projects{

    }//ul.projects

    .project {
        margin-bottom: 10px;
        width: 100%;

        &__heading {
            font-size: 20px;
            font-weight: bolder;
            text-decoration: underline;
            margin-bottom: 10px;
        }//.project__heading
        
        &__name {
            color: $purple_dk;
            background-color: $green_pastel;
            font-weight: bold;
            transition: background-color 100ms linear;
            font-size: 20px;
            line-height: 1.2;
            padding: 6px 10px 4px 10px;
            margin: 0;

            @media (min-width: $breakpoint-phone) {
                font-size: 24px;
                line-height: normal;
                padding-left: 15px;
                margin-bottom: 4px;
            }
            
            &:hover {
                cursor: pointer;
                background-color: $green_bright;
            }
        }//.project__name

        &__details {
            display: flex;
            flex-direction: column;

            @media (min-width: $breakpoint-phone) {
                flex-direction: row;
            }
        }//.project__details
            

            &__contributions {
                flex: 2;
                padding: 8px;

                @media (min-width: $breakpoint-phone) {
                    padding: 15px;
                }


                .project__heading {
                    color: $pink_pastel;
                    margin-right: 12px;
                }//.project__heading

                &_list {
                    list-style-type: circle;
                    padding-left: 20px;

                    @media (min-width: $breakpoint-phone) {
                        font-size: 18px;
                        padding-left: 30px;
                        padding-right: 30px;
                    }
                    
                    li {
                        color: $pink_pastel;
                        font-size: 15px;
                        line-height: 1.2;
                        padding-bottom: 8px;
                        border-bottom: 1px solid rgba(255,255,255,0.25);
                        margin-bottom: 8px;

                        &:last-child {
                            border-bottom: none;
                        }

                        @media (min-width: $breakpoint-phone) {
                            font-size: 18px;
                        }
                    }//li
                }//.project__contributions_list

            }//.project__contributions

            &__description {
                flex: 2;
                padding: 8px;

                @media (min-width: $breakpoint-phone) {
                    padding: 15px;
                }

                .project__heading {
                    color: #fff;
                    border-bottom-color: $pink_pastel;
                }//.project__heading

                p {
                    font-size: 14px;
                    line-height: 1.4;
                    margin-bottom: 10px;
                    
                    @media (min-width: $breakpoint-phone) {
                        font-size: 16px;
                        line-height: 1.2;
                    }
                }// p
                
            }//.project__description

    }//li.project + namespace

    // toggle
    .toggle-target {
        display: none;
        padding: 10px;
        background-color: $purple_darker;
    }//.toggle-target

    
}//.page-id-19  = PROJECTS page
