// Resume page

.page-id-17 { 
  .work-history {
    .employer {
      background-color: $purple_dk;
      padding: 12px 14px 18px 14px;
      margin-bottom: 20px;
      border: 1px solid;
      
      &:nth-child(even) {
        border-color: $pink_pastel;
      }
      &:nth-child(odd) {
        border-color: $green_pastel;
      }

      &__label {
        flex-direction: column;

        @media (min-width: $breakpoint-phone) {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
        }

      }//.employer__label


        &__job-title {
          font-size: 22px;
          line-height: 1.4;
          color: $green_pastel;
        }//.employer__job-title

        &__name {
          font-size: 24px;
          line-height: 1.4;
          color: $pink_pastel;
          margin-bottom: 2px;

          &_at {
            padding: 5px 10px 5px 10px;
            line-height: 24px;
            color: #ececec;
            font-size: 16px;
            font-family: $base;
          }
        }//.employer__name

      &__sub-label {
        border-top: 1px solid $purple_lt;
        padding-top: 3px;
        padding-bottom: 5px;
        border-bottom: 1px solid $purple_lt;
        margin-bottom: 5px;

        .employer__dates {
          font-size: 14px;
          color: #999;

          &_to {
            padding-left: 6px;
            padding-right: 6px;
            color : #ececec;
          }
        }
      }//.employer__sub-label

    }//.employer
  }//.work-history

  // Skills
  .resume__skills {
    h3 {
      border-bottom: 2px solid;
    }
    ul {
      padding-left: 15px;
      margin: 8px 0 30px 0;

      li {
        &::before {
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          font-size: 12px;
          color: $pink_pastel;
          margin-right: 6px;
        }
      }
    }
    &--hard {
      h3 {
        color: $pink_pastel;
        border-color: $pink_pastel;
      }
      ul {
        
        li {
          @extend .fa-circle;

          &::before {
            color: $pink_pastel;
          }
        }//li
      }//ul
    }//.resume__skills--hard
    
    &--soft {
      h3 {
        color: $green_pastel;
        border-color: $green_pastel;
      }
      ul {
        
        li {
          @extend .fa-circle;

          &::before {
            color: $green_pastel;
          }
        }//li
      }//ul
    }//.resume__skills--soft

  }//.resume__skills

}//.page-id-17
